# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
/codeStyles/codeStyleConfig.xml
/dataSources.xml
/demo.iml
/modules.xml
/php.xml
/prettier.xml
/inspectionProfiles/Project_Default.xml
/sqldialects.xml
/vcs.xml
